.slider-wrapper {
    margin-top: 110px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}

.points {
    margin-top: 17px;
}     

.point_active {
    fill: #9E98DC;
}

.slider-image {
    // overflow: auto;
    max-width: 100%;
    max-height: 700px;
    object-fit: cover;
}

.point-one, .point-two, .point-three {
    cursor: pointer;
      
}

.slider {
    position: relative;
    margin-bottom: 150px; 
}