.book-container
  .book  
    .book-image 
    

    .book-info
        .book-author
            h3
        .book-title
            p
        .book-rating
            p
        .book-description
            p
        .book-price
            p
        button.button-buy
        
    button.load-more-button 