.sidebar-wrapper
  ul.sidebar-category 
    li.sidebar-category__item.sidebar-category__item_active 
      a(href='#') Architecture

    li.sidebar-category__item
      a(href='#') Art & Fashion
    li.sidebar-category__item
      a(href='#') Business
    li.sidebar-category__item
      a(href='#') Crafts & Hobbies
    li.sidebar-category__item
      a(href='#') Drama

    li.sidebar-category__item
      a(href='#') Food & Drink
    li.sidebar-category__item
      a(href='#') Health & Wellbeing
    li.sidebar-category__item
      a(href='#') History & Politics
    li.sidebar-category__item
      a(href='#') Humor
    li.sidebar-category__item
      a(href='#') Poetry

    li.sidebar-category__item
      a(href='#') Psychology
    li.sidebar-category__item
      a(href='#') Science
    li.sidebar-category__item
      a(href='#') Technology
    li.sidebar-category__item
      a(href='#') Travel & Maps
    