.slider-wrapper    
    img.slider-image(src="./img/banner.png", alt="marketing")
    .points 
    <svg width="56" height="12" viewBox="0 0 56 12" fill="none" xmlns="http://www.w3.org/2000/svg">
    <circle class="point-one point_active" cx="6" cy="6" r="6" fill="#EFEEF6"/>
    <circle class="point-two"   cx="28" cy="6" r="6" fill="#EFEEF6"/>
    <circle class="point-three" cx="50" cy="6" r="6" fill="#EFEEF6"/>
    </svg>
