.slider-wrapper
  img.slider-image(src="../src/img/banner_1.png", alt="marketing", data-index="0")
  img.slider-image(src="../src/img/banner_2.png", alt="marketing", data-index="1")
  img.slider-image(src="../src/img/banner_3.png", alt="marketing", data-index="2")
  .points 
    svg(width="56", height="12", viewBox="0 0 56 12", fill="none", xmlns="http://www.w3.org/2000/svg")
      circle.point-one.point_active(cx="6", cy="6", r="6", fill="#EFEEF6")
      circle.point-two(cx="28", cy="6", r="6", fill="#EFEEF6")
      circle.point-three(cx="50", cy="6", r="6", fill="#EFEEF6")