@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
      text-size-adjust: none; }

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0; }

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none; }

ul {
  -webkit-padding-start: 0;
     -moz-padding-start: 0;
          padding-inline-start: 0; }

li {
  list-style: none; }

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 14px; }

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1; }

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance; }

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
  text-decoration: none; }

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block; }

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit; }

/* Make sure textarea without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em; }

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex; }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  z-index: 3;
  background-color: #fff;
  min-height: 100px;
  gap: 240px;
  padding-top: 10px; }

.logo {
  font-weight: 700;
  font-size: 24px; }

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 250px;
  font-size: 10px;
  text-transform: uppercase; }

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
  white-space: nowrap; }

.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px; }

.lorem {
  margin-top: 116px; }

.nav__item, .nav__icon {
  cursor: pointer; }

.nav__icon_basket {
  position: relative; }

.nav__icon_count-circle {
  display: none;
  position: absolute;
  top: 52%;
  left: 100%;
  margin-left: -2px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%); }

.nav__item_active {
  color: #1c2a39;
  font-weight: 900; }

@media screen and (max-width: 1200px) {
  .header {
    gap: 100px; }

  .nav {
    gap: 100px; } }
@media screen and (max-width: 768px) {
  .header {
    gap: 40px; }

  .nav {
    gap: 40px; } }
@media screen and (max-width: 480px) {
  .header {
    display: block;
    text-align: center;
    padding: 10px 10px; }

  .nav {
    display: block; }

  .icons {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; } }
.body {
  font-family: 'Montserrat', 'Open Sans', sans-serif;
  color: #5c6a79; }

.container {
  max-width: 1120px;
  height: 100%;
  margin: 0 auto;
  position: relative; }

/*# sourceMappingURL=style.css.map */