doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Bookshop
    link(href=require('./sass/style.scss') rel='stylesheet')
    script(src=require('./js/main.js') defer='defer')
    
  body.body
      .container 
        header.header 
          include pug/header.pug 

         
        main.content
          .slider
            include pug/promo.pug
            include pug/slider.pug
              
          .books
            include pug/book.pug
      aside.sidebar
        include pug/sidebar.pug

      

        
        